/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2014, 3:10:12 PM
    Author     : Tauhid
*/

.portfolio-image-gallery .modal-content-body{
    margin-top: 10px !important;
    padding-left: 30px !important; 
    padding-right: 30px !important; 
    text-align: justify !important; 
    /*height: 200px !important;*/
}

.portfolio-image-gallery .modal-live-project{
    float: left !important;
    color: #ffffff !important;
}

